---
import ContactInfo from "../Icons/ContactInfo.astro";
import Message from "../Icons/Message.astro";
import Download from "../Icons/Download.astro";
import Button from "../Button.astro";
import SectionTitle from "../SectionTitle.astro";
---
{/* This is an astro component to talk about me */}
<section id="about_me" class='section-component'>
  <div class="flex flex-col px-section space-y-2 py-10 text-lg">
    <div class="flex flex-col space-y-8 items-center pb-10 [&>a>div]:flex [&>a>div]:space-x-2 [&>a>div]:items-center [&>a]:md:items-end [&>a>div:hover]:text-xl md:justify-end md:flex-row md:space-y-0 md:space-x-8 md:border-b-[1px] xl:pr-[10%] 2xl:pr-[20%]">
      <a class="lg:w-2/8" href="#contact">
        <div>
          <ContactInfo/>
          <span>Información de contacto</span>
        </div>
      </a>
      <a href="#contact">
        <div>
          <Message/>
          <span>Enviar mensaje</span>
        </div>
      </a>
      <a target="_blank" href="https://andergcp.s3.amazonaws.com/public/CV+-+Anderson+Castiblanco.pdf">
        <div>
          <Download/>
          <span>Descargar CV</span>
        </div>
      </a>
    </div>
    <div class="flex text-base pt-4 flex-col md:pt-20">
      <SectionTitle>Acerca de mí</SectionTitle>
      <br>
      <span>Me apasiona la creación de productos tanto en lo técnico como en el desarrollo de la propuesta de valor. He trabajado como analista de producto y ahora trabajo como desarrollador</span>
      <br>
      <span class="hidden more_about_me_text">Disfruto aprender sobre programación, idiomas, culturas, negocios, startups, diseño de producto e innovación.</span>
      <span class="hidden more_about_me_text">Me encanta compartir tiempo con mi familia y amigos, viajar, leer y montar bici.</span>
      <span class="hidden more_about_me_text">Hablo español(nativo), inglés(C1) y Francés(A2) .</span>
      <Button btnId="about_me_show_more">Ver más</Button>
    </div>
  </div>
</section>

<script>
  // This is an script to show more information about me when the user clicks the button
  function showMore() {
    const aboutMeTextEls = document.querySelectorAll('.more_about_me_text');
    const showMoreButton = document.getElementById('about_me_show_more');
    aboutMeTextEls.forEach(el => el.classList.remove('hidden'));
    showMoreButton?.classList.add('hidden');
  }
  const showMoreButton = document.getElementById('about_me_show_more');
  showMoreButton?.addEventListener('click', showMore);
</script>