---
import SectionTitle from "../SectionTitle.astro";
import {EducationList} from "../EducationList";
---
<!-- Section for  -->
<section id="experience" class='section-component'>
  <div class="flex flex-col px-section space-y-6 py-10 bg-main-bg">
    <SectionTitle>Educación</SectionTitle>
    <EducationList />
  </div>
</section>