---
import ExperienceCard from "../ExperienceCard";
import ExperienceList from "../ExperienceList";
// import ExperienceCard from "../ExperienceCard.astro";
import SectionTitle from "../SectionTitle.astro";
---
{/* This is an astro component to talk about my professional experience */}
<section id="experience" class='section-component'>
  <div class="flex flex-col px-section space-y-6 py-10 bg-secondary-bg">
    <SectionTitle>Experiencia</SectionTitle>
    <ExperienceList client:load/>
  </div>
</section>
