---
import AboutMeSection from "../components/Sections/AboutMeSection.astro";
import HeroSection from "../components/Sections/HeroSection.astro";
import ExperienceSection from "../components/Sections/ExperienceSection.astro";
import LandingHeader from "../components/Sections/LandingHeader.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Anderson Castiblanco">
  <LandingHeader />
  <!-- <main class="snap-y snap-mandatory relative w-full h-full"> -->
  <main class="relative w-full h-full"></main>
    <HeroSection />
    <AboutMeSection />
    <ExperienceSection />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
  }
</style>
