---
import Section from "./Section.astro";
---
{/* This is an astro component to talk about me */}
<Section>
  <div class="overflow-hidden max-h-full flex flex-col md:w-2/3 md:gap-2">
    <h1 class="text-3xl text-main-titles md:text-5xl">Sobre mí</h1>
    <p class="font-medium pt-4 text-base md:pt-10 md:text-xl">
      Me apasiona la creación de productos tanto en lo técnico como en el
      desarrollo de la propuesta de valor. He trabajado como <strong>
        analista de producto</strong
      > y ahora como <strong>desarrollador</strong>.
    </p>
    <div class="aboutme_photo-container flex mx-auto pt-4 w-full md:w-2/3">
      <img
        class="w-full shadow-2xl rounded-md object-cover object-center mx-auto"
        src="foto-about-me.jpeg"
        alt="Ander sentado en una sala de reuniones"
      />
    </div>
  </div>
  <div class=" text-sm flex max-h-[80%] overflow-scroll p-4 flex-col my-auto bg-secondary-bg/40 rounded-md shadow-2xl md:w-1/3 md:p-10 md:text-xl">
    <p>
      Hablo español (nativo), inglés (C1) y francés (A2).
    </p>
    <p>
      Disfruto <strong> aprender</strong> sobre programación, idiomas, culturas,
      negocios, startups, diseño de producto e innovación.
    </p>
    <p>
      Me <strong> encanta</strong> compartir tiempo con mi familia y amigos, viajar,
      leer, montar bici y bailar salsa.
    </p>
  </div>
</Section>
