---
import ExperienceCard from "./ExperienceCard";
import Section from "./Section.astro";
  
const experienceListFirst = [
  {
    title: "Mid-Software Developer",
    description: "Job description",
    company: "Pandas",
    startDate: "2022",
    endDate: "2023",
  },
  {
    title: "Software Engineer",
    description: "Job description",
    company: "Blackboard",
    startDate: "2020",
    endDate: "2022",
  },
  {
    title: "Full-Stack Software Engineer",
    description: "Job description",
    company: "Holberton School",
    startDate: "2020",
    endDate: "2020",
  },
  {
    title: "Monitor - Teaching Assistant",
    description: "Job description",
    company: "Holberton School",
    startDate: "2020",
    endDate: "2020",
  },
  {
    title: "Administrador - propietario",
    description: "Job description",
    company: "Mayorista de Helados Caspri",
    startDate: "2017",
    endDate: "2020",
  },
  {
    title: "Analista de producto - Crédito de vehículo personal",
    description: "Job description",
    company: "Banco Davivienda",
    startDate: "2017",
    endDate: "2017",
  },
  {
    title: "Profesional Comercial Daviplata",
    description: "Job description",
    company: "Banco Davivienda",
    startDate: "2015",
    endDate: "2017",
  },
  {
    title: "Practicante Universitario - Captación Banca Personal",
    description: "Job description",
    company: "Banco Davivienda",
    startDate: "2015",
    endDate: "2015",
  },
];
---
{/* This is an astro component to talk about my professional experience */}
<Section desktopDir="col">
  <h1 class="text-3xl text-main-titles md:text-5xl">Experiencia</h1>
  <div class="flex flex-col w-full font-bold md:w-[70%]">
    <ul>
      {
        experienceListFirst.map((experience) => (
          <ExperienceCard {...experience} client:visible/>
          <hr class="border-gray-300 pt-10" />
        ))
      }
    </ul>
  </div>
</Section>
