<section class="flex h-screen py-10">
  <div class="flex w-1/2 px-10 py-10 my-auto font-medium">
    <h1 class="text-6xl px-10">
      Hola! Soy Ander. Desarrollador Fullstack y Administrador de empresas
    </h1>
  </div>
  <div class="flex w-1/2 px-10 py-10">
    <img src="foto-landing.webp" alt="Anderson Castiblanco" />
  </div>
</section>
